---
import { getCollection, render } from "astro:content";
import { css } from "@styled-system/css";
import BlogLayout from "../../layouts/BlogLayout.astro";
import MarkdownH1 from "../../components/markdown/MarkdownH1.astro";
import MarkdownH2 from "../../components/markdown/MarkdownH2.astro";
import MarkdownH3 from "../../components/markdown/MarkdownH3.astro";
import MarkdownH4 from "../../components/markdown/MarkdownH4.astro";
import MarkdownP from "../../components/markdown/MarkdownP.astro";
import MarkdownOl from "../../components/markdown/MarkdownOl.astro";
import MarkdownUl from "../../components/markdown/MarkdownUl.astro";
import MarkdownLi from "../../components/markdown/MarkdownLi.astro";
import MarkdownBlockquote from "../../components/markdown/MarkdownBlockquote.astro";
import MarkdownA from "../../components/markdown/MarkdownA.astro";
import MarkdownImg from "../../components/markdown/MarkdownImg.astro";
import MarkdownPre from "../../components/markdown/MarkdownPre.astro";
import MarkdownCode from "../../components/markdown/MarkdownCode.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const contentWrapperClass = css({
  display: "flex",
  flexDirection: "column",
  gap: "2",
  color: "foreground.on-main-accent",
});
---

<BlogLayout
  title={post.data.title}
  description={post.data.description}
  publishedTime={post.data.publishedTime}
  authors={post.data.authors}
  thumbnail={post.data.thumbnail}
  thumbnailAlt={post.data.thumbnailAlt}
  slug={post.id}
>
  <div class={contentWrapperClass}>
    <Content
      components={{
        h1: MarkdownH1,
        h2: MarkdownH2,
        h3: MarkdownH3,
        h4: MarkdownH4,
        p: MarkdownP,
        ol: MarkdownOl,
        ul: MarkdownUl,
        li: MarkdownLi,
        blockquote: MarkdownBlockquote,
        a: MarkdownA,
        img: MarkdownImg,
        pre: MarkdownPre,
        code: MarkdownCode,
      }}
    />
  </div>
</BlogLayout>
