---
import { Image } from "astro:assets";
import { css } from "@styled-system/css";
import { IMAGE_WIDTHS } from "../consts";

interface Props {
  href: string;
  thumbnailSrc: ImageMetadata;
  thumbnailAlt: string;
  title: string;
  subtitle?: string;
  date: string;
  author?: string;
}

const { href, thumbnailSrc, thumbnailAlt, title, subtitle, date, author } = Astro.props;

const formattedDate = new Intl.DateTimeFormat("en-GB", {
  day: "2-digit",
  month: "long",
  year: "numeric",
}).format(new Date(date));

const linkClass = css({ display: "block", width: "[100%]" });
const imageClass = css({
  width: "[100%]",
  display: "block",
  borderRadius: "2",
  borderWidth: '1',
  borderColor: 'white.100',
  borderStyle: 'solid',
  viewTransitionName: 'blog-thumbnail',
});
const titleClass = css({
  textStyle: "heading-sm",
  paddingBlockStart: "2",
  color: "foreground.on-main-accent",
  _groupHover: {
    textDecoration: "underline",
    textDecorationThickness: "1px",
  },
});
const bodyClass = css({ textStyle: "body" });
---

<a href={href} class={linkClass + " group"}>
  <Image
    src={thumbnailSrc}
    alt={thumbnailAlt}
    widths={[...IMAGE_WIDTHS]}
    sizes="auto"
    loading="lazy"
    class={imageClass}
  />
  <h2 class={titleClass}>{title}</h2>
  {subtitle && <p class={bodyClass}>{subtitle}</p>}
  <p class={bodyClass}>{formattedDate}</p>
  {author && <p class={bodyClass}>{author}</p>}
</a>
