---
import { css } from "@styled-system/css";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const navItems = [
  { label: "Home", href: "/" },
  { label: "My Story", href: "/my-story" },
  { label: "Blog", href: "/blog" },
];

const navigation = css({
  width: "[100%]",
  paddingBlock: "4",
  display: "flex",
  justifyContent: "space-between",
  alignItems: "center",
});

const navigationList = css({
  display: "flex",
  listStyle: "none",
  margin: "0",
  gap: '4'
});

const navigationItem = css({
  display: "inline-block",
});

const navigationLink = css({
  borderRadius: "2",
  color: "foreground.on-main-accent",
  textStyle: "body",
  outlineWidth: "0",
  position: "relative",
  _hover: {
    textDecoration: "underline",
  },
  _focusVisible: {
    outline: 'none',
    _before: {
      content: '""',
      position: "absolute",
      inset: '-2',
      borderRadius: "[inherit]",
      outlineWidth: "2",
      outlineStyle: "solid",
      outlineColor: "foreground.on-main-accent",
    },
  },
});
---

<nav class={navigation}>
  <ul class={navigationList}>
    {
      navItems.map((item) => (
        <li class={navigationItem}>
          <a href={item.href} class={navigationLink}>
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
  <ThemeSwitcher />
</nav>
