---
import { Image } from "astro:assets";
import { css } from "@styled-system/css";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  description?: string;
  publishedTime: string;
  authors: string[];
  thumbnail: ImageMetadata;
  thumbnailAlt: string;
  slug: string;
}

const { title, description, publishedTime, authors, thumbnail, thumbnailAlt, slug } = Astro.props;

const formattedDate = new Intl.DateTimeFormat("en-GB", {
  day: "2-digit",
  month: "long",
  year: "numeric",
}).format(new Date(publishedTime));

const articleClass = css({
  display: "flex",
  flexDirection: "column",
  gap: "4",
  color: "foreground.on-main-accent",
});

const headerClass = css({ textStyle: "body" });
const titleClass = css({ textStyle: "display-lg" });
const figureClass = css({
  maxWidth: "breakpoint-md",
  marginInline: "auto",
  paddingBlock: '8',
});
const thumbnailClass = css({
  width: "[100%]",
  borderRadius: "2",
  borderStyle: 'solid',
  borderWidth: '1',
  borderColor: 'white.100',
  viewTransitionName: 'blog-thumbnail'
});
const captionClass = css({
  textStyle: "body",
  textAlign: "center",
  color: "foreground.muted",
  paddingBlockStart: "1",
});
---

<BaseLayout title={`Blog - ${title}`} description={description} ogImage={`/og/${slug}.png`} ogImageAlt={thumbnailAlt}>
  <article class={articleClass}>
    <div class={headerClass}>
      <h1 class={titleClass}>{title}</h1>
      <span>{formattedDate}</span>
      {authors.map((author) => <span> · {author}</span>)}
      <figure class={figureClass}>
        <Image src={thumbnail} alt={thumbnailAlt} class={thumbnailClass} />
        <figcaption class={captionClass}>{thumbnailAlt}</figcaption>
      </figure>
    </div>
    <slot />
  </article>
</BaseLayout>
